# ubkgjkg.ini
# config file common to generation framework scripts

[sabs]
# Absolute path to the sabs.json file
sab_json_file=generation_framework/sources.json

[directories]
# Absolute path in the local repo to which to download source files
sab_source_dir=generation_framework/sab_source
# Absolute path in the local repo to which to store intermediary JKG files
sab_jkg_dir=generation_framework/sab_jkg
# Absolute path in the local repo where the PheKnowLator owltools executable resides
owltools_dir=generation_framework/pkt_kg/libs

[owlnets]
# Scripts using the PheKnowlator package to convert OWL files to OWLNETS format
owlnets_script_py=generation_framework/translators/owl2edgenode/owl2edgenode.py
fix_owlnets_tsv_script_py=generation_framework/translators/owlnets_script/fix_tsv_file.py

[jkg_json]
# Keys related to working with JKG JSON files
# Path to directory containing JKG JSON files
jkg_json_dir=/Users/jas971/Documents/ubkg-jkg-neo4j/json/batch
# name of JKG JSON file
jkg_json_filename=jkg.json
# name of JKG Schema file
jkg_schema_filename=JKG_Schema.json

[jkg_en]
# Keys for common output file names of the JKG Edge/Node (JKEN) format
jkg_edge=jkg_edge.tsv
jkg_node=jkg_node.tsv