# ubkgjkg.ini
# config file common to generation framework scripts

[sabs]
# Absolute path to the sabs.json file
sab_json_file=generation_framework/sources.json

[directories]
# Absolute path in the local repo to which to download source files
sab_source_dir=generation_framework/sab_source
# Absolute path in the local repo to which to store intermediary JKG files
sab_jkg_dir=generation_framework/sab_jkg
# Absolute path in the local repo where the PheKnowLator owltools executable resides
owltools_dir=generation_framework/pkt_kg/libs

[owlnets]
# Scripts using the PheKnowlator package to convert OWL files to OWLNETS format
owlnets_script_py=generation_framework/translators/owl2edgenode/owl2edgenode.py
fix_owlnets_tsv_script_py=generation_framework/translators/owlnets_script/fix_tsv_file.py

[jkg_json]
# Keys related to working with JKG JSON files
# Path to JKG JSON
jkg_json_path=/Users/jas971/Documents/ubkg-jkg-neo4j/json/jkg.json

[edgenodefiles]
# Permutations of file names
nodefilenames=OWLNETS_node_metadata.txt,nodes.txt,nodes.tsv,OWLNETS_node_metadata.tsv
edgefilenames=OWLNETS_edgelist.txt,edges.txt,edges.tsv,OWLNETS_edgelist.tsv
